<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>
<h1>Flight Status</h1>

<table>
    <th>airline name</th>
    <th>flight number</th>
    <th>departure date</th>
    <th>status</th>

{% for flight in flights %}
    <tr>
        <td>{{flight['Airline_name']}}</td>
        <td>{{flight['flight_num']}}</td>
        <td>{{flight['dep_date']}}</td>
        <td>{{flight['status']}}</td>
        
    
    </tr>
{% endfor %}
</table>
    
</body>
</html>