<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>flight status</title>
</head>
<body>
    {% if not message %}
    <div class="nav">
        <a href="/search">Search</a>
        <a href="/flight_status">Flights Status</a>
        <a href="/login">Login</a>
        <a href="/regcustomer">Register as customer</a>
        <a href="/regstaff">Register as staff</a>
    </div>
    <h1> Flight Status</h1>
    <form action="/flight_status" method="post">
        <label for="dep_airport">From</label>
        <input type='text' name="dep_airport" id="dep_airport" required>
        <label for="arr_airport">To</label>
        <input type='text' name="arr_airport" id="arr_airport" required><br>
        <label for="departuredate">Departure Date</label>
        <input type="date" id="dep_date" name="dep_date" required><br>
        <label for="returndate">Return Date</label>
        <input type="date" id="return_date" name="return_date">
        <br>
        <input type="submit" value="Search" />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    {% endif %}
    </form>

    <table>
        <th>airline name</th>
        <th>flight number</th>
        <th>departure date</th>
        <th>status</th>
    
    {% for flight in flights %}
        <tr>
            <td>{{flight['Airline_name']}}</td>
            <td>{{flight['flight_num']}}</td>
            <td>{{flight['dep_date']}}</td>
            <td>{{flight['status']}}</td>
            
        
        </tr>
    {% endfor %}
    </table>

    
</body>
</html>