<html>
<head>
</head>
<body>
<form action="/staffregAuth" method="POST">
	<h1> Airline Staff Registration </h1>
	<label>name</label>
	<input type="text" name = "fname" placeholder="first name" required/> 
	<input type="text" name = "lname" placeholder="last name" required/> </br><br>
	<label>username</label>
	<input type="text" name = "username" placeholder="username" required/> </br><br>
	<label>password</label>
	<input type="password" name = "password" placeholder="password" required/></br><br>
	<label>airline</label>
	<select name="airline" id="airline">
		<option value="Jet Blue">Jet Blue</option>
		<option value="Delta">Delta</option>
	</select><br><br>
	<label>email</label>
	<input type="email" name = "email" placeholder="email" required/> </br><br>
	<label>phone</label>
	<input type="text" name = "phone" placeholder="phone number" required/> </br><br> <!--하나 이상 -->
	<label> date of birth</label>
	<input type="date" name = "dob" placeholder="date of birth" required/> </br><br>

	<input type="submit" value = Register />
	{% if error %}
		<p class="error" style="color: red;"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>
</body>
</html>