<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Airplanes</title>
</head>
<body>
    <div class="nav">
        <a href="/staff_dashboard"> Flights</a>
        <a href="/view_airplanes"> Airplanes</a> <!--maintenance, add-->
        <a href="/view_airport"> Airport</a> <!--add-->
        <a href="/add_airport">Manage Customers</a> <!--frequent customers-->     
        <a href="/logout">{{username}}: log out </a> 
    </div>
    <br>
    <h1> View Airports</h1>
    <h2>{{airline_name}}</h2>

    <main>
    <p><a href="/add_airport_clicked"> add airport</a><!--4--></p>
    <table>
        <th>Code</th>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Terminal</th>
        <th>Type</th>
    
        {% for airport in airports %}
            <tr>
                <td>{{ airport.code }}</td>
                <td>{{ airport.name }}</td>
                <td>{{ airport.city }}</td>
                <td>{{ airport.country }}</td>
                <td>{{ airport.terminal }}</td>
                <td>{{ airport.type }}</td>
            </tr>
        {% endfor %}
    </table>    

    </form>
</main>
</body>

</html>